.cnt__cta {
  padding-bottom: 4rem;
  position: relative;
  // z-index: 1;
}

.cnt__cta {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @include breakpoint(md) {
    flex-direction: row;
  }
}

.cta {
    border-radius: .5rem;
    font-family: 'arial', sans-serif;
    font-size: 2rem;
    margin: .5rem;
    min-width: 20rem;
    padding: 1rem;
    text-decoration: none;
    text-transform: capitalize;
    transition: background 300ms;
    &--primary {
        background: rgba(255,255,255,0.5);
        border: .3rem solid $brand--primary;
        color: $brand--primary;
        &:hover {
          background: rgba(255,255,255,0.9);
        }
    }
    &--secondary {
        background: $brand--primary;
        border: .3rem solid $brand--primary;
        color: $text--alt;
        &:hover {
          background: darken($brand--primary, 15%);
        }
    }

    @include breakpoint(md) {
      font-size: 3rem;
    }
}
