$bodyBg: #fff;
$text--main: #333;
$text--alt: #fff;

$icon--default: #999;
$brand--primary: #9c148c;
//24c3bc

$hero-gradiant-start: rgba(156, 20, 140, 0.7);
$hero-gradiant-stop: rgba(167, 20, 20, 0.9);
