img {
	width: 100%;
	height: auto;
}
$bg-overlay-lines:
url('https://dl.dropboxusercontent.com/u/26351585/my_assets/overlays/lines.svg');
$bg-img-hero:
	url('https://images.unsplash.com/photo-1469212044023-0e55b4b9745a?dpr=2&auto=format&crop=entropy&fit=crop&w=767&h=508&q=80&cs=tinysrgb');
$bg-img-one:
	url('https://bigbodybeautiful.files.wordpress.com/2015/09/photo-unsplash_clouds2.jpg');
