img {
	width: 100%;
	height: auto;
}
$bg-overlay-lines:
url('https://dl.dropboxusercontent.com/u/26351585/my_assets/overlays/lines.svg');
$bg-img-hero:
	url('/target/img/heavy-hero.jpg');
$bg-img-two:
	url('/target/img/mountains3.jpg');
