@import 'https://fonts.googleapis.com/css?family=Fjalla+One|Playfair+Display';
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
}

body {
	background: $bodyBg;
	font-family: 'Playfair Display', serif;
  overflow-x: hidden;
}

// .section {
//   height: 100%;
//   min-height: 100vh;
// }

/* ------------------------------------------------------------------ */
/* Typography
/* ------------------------------------------------------------------ */
h1, h2, h3, h4, h5, h6 {
 font-family: 'Fjalla One', sans-serif;
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
}

.text--highlight {
  color: $brand--primary;
}

.link--default {
  color: lighten($brand--primary, 20%);
  font-weight: bold;
  text-decoration: none;
  transition: color 300ms;
  &:hover {
  color: $brand--primary;
  }
}

/* ------------------------------------------------------------------ */
/* Hero
/* ------------------------------------------------------------------ */

.skew-bg {
  //background-color: $brand--primary; //have solid colour, instead of an image
  background: $bg-img-hero top center no-repeat;
  background-size: cover;
  height: 110vh;
  position: absolute;
  top: -15%;
  transform: skew(0deg, 7deg);
  width: 100vw;
  z-index: -10;
    //an optional colour gradient and texture over the image
    &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    //texture overlay
    background: $bg-overlay-lines, linear-gradient(to bottom right,$hero-gradiant-start,$hero-gradiant-stop);
    opacity: 1;
    }
}

.cnt__hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__inner {
	max-width: 96rem;
	padding: 2rem;
}

.hero__title {
  color: $text--alt;;
  font-weight: 900;
	letter-spacing: 5px;
	text-transform: uppercase;
  font-size: 8rem;
  border-top: 5px solid $text--alt;
  border-bottom: 5px solid $text--alt;
  @include breakpoint(md) {
    font-size: 15rem;
  }
}

.hero__sub-title {
	color: $text--alt;
	font-size: 2rem;
	font-style: italic;
	font-weight: 400;
  padding-bottom: 3rem;
	width: 100%;
  @include breakpoint(md) {
    font-size: 3rem;
  }
}

/* ------------------------------------------------------------------ */
/* Section One
/* ------------------------------------------------------------------ */

.section.one {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
}

.one__title {
  color: $text--main;
  font-size: 8.4rem;
  line-height: 1.25em;
  margin: 0 auto;
  text-align: center;
  width: 100vw;
    @include breakpoint(md) {
    width: 50vw;
    font-size: 10rem;
    }
}

.one__p {
  color: $text--main;
  font-size: calc(32px + (8-32)*(100vw - 400px) / (800 - 400));
  line-height: 1.75em;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 6%;
  width: 100vw;
    @include breakpoint(md) {
      width: 50vw;
    	font-size: 3.4rem;
    }
}
/* ------------------------------------------------------------------ */
/* Section Two
/* ------------------------------------------------------------------ */
.section.two {
  align-content: space-around;
  background: $bg-img-two;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
  }

.two__cnt {
  max-width: 90vw;
}

.two__p {
  color: $brand--primary;
  font-size: 4rem;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  mix-blend-mode: multiply;
  @include breakpoint(md) {
    font-size: 9rem;
    margin-bottom: 10rem;
  }
}




/* ------------------------------------------------------------------ */
/* Section Three
/* ------------------------------------------------------------------ */
.section.three {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2em;
}

.title--jumbo {
	color: #999;
  font-size: 36vw;
  font-weight: bold;
	line-height: 1em;
	letter-spacing: 2px;
  margin-top: 5rem;
	text-transform: uppercase;
  text-align: right;
  opacity: 0.1;
  position: absolute;
  z-index: -2;
    @include breakpoint(md) {
    	font-size: 23rem;
    }
}

.three__p {
  color: $text--main;
  font-size: calc(28px + (8-28)*(100vw - 400px) / (800 - 400));
  line-height: 1.75em;
    @include breakpoint(md) {
      padding-bottom: 5rem;
      width: 80vw;
    }
}

/* ------------------------------------------------------------------ */
/* Section Four
/* ------------------------------------------------------------------ */
.section.four {
  background-color: #333;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.four__title {
    color: #2f2f2f;
    font-size: calc(104px + (81-104)*(100vw - 400px) / (800 - 400));
    line-height: 1.25em;
    margin: 0 auto;
    padding: 0 1rem;
    text-align: right;
    position: absolute;
}

.cnt__form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}


form {
  background-color: rgba(0,0,0,0);
  max-width: 600px;
  margin: 1rem auto;
  position: relative;
  width: 90%;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

form::after {
  clear: both;
  content: "";
  display: table;
}

form h4,
form .cd-label {
  font-size: 1.3rem;
  color: #94aab0;
  margin-bottom: 10px;
}

form .cd-label {
  display: block;
}

form input,
form textarea,
form select,
form label {
  background-color: rgba(0,0,0,0);
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  color: #2b3e51;
}

form input[type="text"],
form input[type="email"],
form textarea,
form select,
form legend {
  display: block;
  width: 100%;
  appearance: none;
}

form input[type="text"],
form input[type="email"],
form textarea,
form select {
  color: $text--alt;
  padding: 12px;
  text-align: center;
}

form textarea {
  height: 50px;
  resize: vertical;
  overflow: auto;
}

form input[type="submit"] {
  border-radius: .5rem;
  font-family: 'arial', sans-serif;
  font-size: 1.75rem;
  margin: 0 auto;
  max-width: 10rem;
  min-width: 20rem;
  padding: 1rem;
  text-decoration: none;
  text-transform: capitalize;
  transition: background 300ms;
  background: $brand--primary;
  border: .3rem solid $brand--primary;
  color: $text--alt;
      &:hover {
          background: darken($brand--primary, 15%);
      }
}

input,
textarea {
  border: none;
  border-radius: 0;
}

input,
textarea {
  border-bottom: 2px solid $brand--primary;
}

textarea:focus,
input:focus {
  outline-color: $brand--primary;
}

textarea {
    width: 300px;
    height: 150px;
    margin-bottom: 3.5rem;
}
/* ------------------------------------------------------------------ */
/* Section Five
/* ------------------------------------------------------------------ */
.section.five {
  background-color: #333;
  height: 100%;
}

.five__title {
  color: $text--alt;
  font-size: 8.4rem;
  line-height: 1.25em;
  margin: 0 auto;
  text-align: center;
  width: 100vw;
}

.gallery {
  display: flex;
  flex-flow: row wrap;
  padding: 2rem 0;
  @include breakpoint(md) {
    padding: .5vw;
  }
}

.gallery__img-cnt {
  align-items: center;
  display: flex;
  flex: auto;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  text-align: center;
  width: 200px;
  @include breakpoint(md) {
    margin: .5vw;
  }
}

.gallery__img {
  height: auto;
  transition: all 300ms ease;
  width: 100%;
}

.gallery__img-cnt:hover > .gallery__text {
  opacity: 1;
}

.gallery__text {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  opacity: 0;
  padding: 1em;
  position: absolute;
  transition: opacity 500ms ease;
}
/* ------------------------------------------------------------------ */
/* Footer Section
/* ------------------------------------------------------------------ */

.footer {
  align-content: space-around;
	background-color: $brand--primary;
  display: flex;
  flex-direction: column;
	font-size: 1.4rem;
  min-height: 20rem;
	text-align: center;
  height: 50vh;
  justify-content: center;
  padding: 2em;
}

.footer__icon {
  color: $text--alt;
  font-size: 3rem;
  padding: 1rem;
  transition: all 300ms   ease;
  width: 4.25rem;
  &:hover {
    transform: scale(1.2);
  }
}

.copyright {
  color: $text--alt;
  font-family: 'arial', sans-serif;
  padding: 3rem;
}
